body{
    background-color: #231f20 ;
    overflow-x:hidden;
}
/* [name="slide"] {display:none;}
.slidebox {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.slidebox img{
    max-width: 100%;
}
.slidebox .slidelist{
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}
.slidebox .slideitem{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .35s;
}
.slidebox .slideitem label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

label.left{
    left: 20px;
    background-color: aliceblue;
    background-position: center center;
    background-size: 50%;
    background-repeat:no-repeat;
    background-image: url("left.svg");
}
label.right{
    right: 20px;
    background-color: aliceblue;
    background-position: center center;
    background-size: 50%;
    background-repeat:no-repeat;
    background-image: url("right.svg");
}
[id="slide1"]:checked ~.slidelist .slideitem {transform:translateX(0); animation: slide1 30s infinite;}
[id="slide2"]:checked ~.slidelist .slideitem {transform:translateX(-100%); animation: slide2 30s infinite;}
[id="slide3"]:checked ~.slidelist .slideitem {transform:translateX(-200%); animation: slide3 30s infinite;}

@keyframes slide1{
    0% {left: 0%;}
    17% {left: 0%;}
    33% {left: -100%;}
    50% {left: -100%;}
    67% {left: -200%;}
    98% {left: -200%;}
    100% {left: 0%;}
}
@keyframes slide2{
    0% {left: 0%;}
    17% {left: 0%;}
    33% {left: -100%;}
    50% {left: -100%;}
    67% {left: 100%;}
    98% {left: 100%;}
    100% {left: 0%;}
}
@keyframes slide3{
    0% {left: 0%;}
    17% {left: 0%;}
    33% {left: 200%;}
    50% {left: 200%;}
    67% {left: 100%;}
    98% {left: 100%;}
    100% {left: 0%;}
} */
/* 여기까지가 사진넘기기 */

.video{
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
}
.video video{
    min-width:100%;
    min-height:100%;
    position: absolute;
    left: 50%;
    right: 50%;
    top:53%;
    transform: translate(-50%,-50%);
}
.first-paragraph{
    text-align: center;
    font-size: 36px;
}
.first-title{
    font-size: 110%;
    font-weight: bold;
    margin-top: 50px;
    color: #b69157;
}
.first-subtitle{
    font-size: 60%;
    font-weight: 300;
    color: #DBDBDB;
}

/* 시 삽입 */
.poem{
    display: inline-block;
    border: 5px outset #b69157;
    height: 600.63px;
}

/* 십자가 내용 */
.cross__second{
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross__title{
    font-size: 95%;
    color: #DBDBDB;
    font-weight: bold;
}
.cross__sub{
    color: #b69157;
    font-size: 60%;
}

.box{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bbox{
    font-size: 20px; 
    border: 4px outset #b69157;
    margin: 10px;
}

.box-1-title{
    margin-top: 30px;
    font-size: 100%;
    font-weight: bold;
    color: #b69157;
}
.box-1-subtitle{
    margin-top: 20px;
    font-size: 70%;
    font-weight: 300;
    color: #DBDBDB;
}

.click{
   margin-bottom: 10px;
   border-radius: 20px;
   width: 100px;
   height: 30px;
   color: #b69157;
   border: 2px solid #b69157;
   font-weight: bold;
   font-size: 65%;
}
.click:hover{
    background-color: #b69157;
    color: #f4eae2;
}

/* 오시는 길 */
.information{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    font-size: 24px;
}
.information-title{
    font-size: 100%;
    font-weight: bold;
    color: #DBDBDB;
}
.information-subtitle{
    font-size: 80%;
    font-weight: 300;
    color: #b69157;
}

#inf{
    margin-right: 20px;
}

.lastbutton{
    display: flex;
}

#but{
    margin-top: 30px;
    width:200px;
    height: 50px;
    line-height: 50px;
    /* line-height와 height 같으면 세로가운데정렬 */
    text-align: center;
    font-size: 70%;
}
.blog{
    background-color: grey;
    color: #f4eae2;
}

.blog a{
    color: #f4eae2;
}
.kakao{
    background-color: #ffcf00;
    color: #3c1d1b;
}
.kakao a{
    color: #3c1d1b;
}
/* 가장 마지막 */
footer{
    margin-top: 100px;
}
.address{
    width: 100vw;
    height: 300px;
    background-color: #fff;
    color: rgb(83, 83, 83);
    text-align: center;
}
.callnum{
    margin-top: 100px;
}
.copyright-text{
    font-size: 15px;
    margin-top: 100px;
    text-align: center;
}


/* 500px로 가로 작아졌을 때-폰용임 */
@media screen and (max-width: 500px){
    .first-title{
        font-size: 20px;
    }
    .first-subtitle{
        font-size: 14px;
    }
    }

/* 1074로 일차 작아졌을 때 */
@media screen and (max-width: 1074px){
.information{
    flex-direction: column;
}
.information-text{
    width: 300px;
}
.information-title{
    margin-top: 10px;
    font-size: 20px;
}
.information-subtitle{
    font-size: 13px;
}
}

